<nav class="navbar navbar-findcond navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="#"><span><i aria-hidden="true" class="fa fa-home fa-lg">&nbsp</i></span>Dashboard</a></li>
            <li><a href="#sales"><span><i aria-hidden="true" class="fa fa-bell fa-lg">&nbsp</i></span>Sales</a></li>
            <li><a href="#customer"><span><i aria-hidden="true" class="fa fa-comment fa-lg">&nbsp</i></span>Customers</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="javascript:void(0)" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">User<span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="#">Help</a></li>
                <li><a href="#">Settings</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:3000/{{username}}">Profile</a></li>
                <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
              </ul>
            </li>
          </ul>
          <form role="search" class="navbar-form navbar-right search-form">
            <input type="text" placeholder="Search" style="border-radius:21px;" class="form-control">
          </form>
        </div>
      </div>
    </nav>


     
    <div style="padding-top: 6%;">     
         <div class="container" style="width: 100% !important;">
            <div class="row">

                <div class="col-sm-4">
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

                        <div class="info-box-content">
                          <span class="info-box-text">sales</span>

                          <span class="info-box-number">
                           Today : <span id="today"></span>
                          </span>
                          <span class="info-box-number">
                            This Month : <span id="this_month"></span>
                          </span>
                          
                        </div>                   
                      </div>
                </div>

                <div class="col-sm-4">
                    <div class="info-box bg-green">
                        <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">customer visits</span>

                          <span class="info-box-number">
                           All : <span id="all_visits"></span>
                          </span>
                          <span class="info-box-number">
                            New : <span id="new_visit"></span>
                          </span>

                          
                        </div>                    
                      </div>
                </div>

                <div class="col-sm-4">
                    <div class="info-box bg-red">
                        <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-text">top employee</span>

                          <span class="info-box-number">
                           Name : <span id="stylist"></span>
                          </span>
                          <span class="info-box-number">
                            Sale : <span id="total"></span>
                          </span>
                         
                        </div>                   
                      </div>
                </div>           

          </div>
        </div>


        <div class="container" style="width: 100% !important;">
            <div class="row">

                 <div class="col-sm-8">   
                    <div class="box box-default" style="background-color: #252836">
                        <div class="box-header with-border">
                          <h3 class="box-title">Browser Usage</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="chart-responsive">
                                <canvas id="barChart" height="140"></canvas>
                              </div>
                             
                            </div>                            
                          </div>
                          <!-- /.row -->
                        </div>
                                    
                    </div>
                </div>

                <div class="col-sm-4">   
                    <div class="box box-default" style="background-color: #252836">
                        <div class="box-header with-border">
                          <h3 class="box-title">Browser Usage</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="chart-responsive">
                                <canvas id="pieChart" height="305"></canvas>
                              </div>
                             
                            </div>
                           
                          </div>
                          <!-- /.row -->
                        </div>
                                    
                    </div>
                </div>

          </div>
        </div>
      </div>

      <div id="pieValues">
        {{pieData}}  
      </div>
      

<script>
var url = 'http://localhost:3000/admin/customer';

var ctx = document.getElementById("pieChart");
var bar = document.getElementById("barChart");

$.ajax({
  url:url,
  type:'GET'
}).done(function(response){    
    $.each(response.static, function(i,row){
        $('#today').text(row.today);
        $('#this_month').text(row.this_month);
        $('#all_visits').text(row.all_visits);
        $('#new_visit').text(row.new_visit);
        $('#stylist').text(row.stylist);
        $('#total').text(row.total);
    });

    var data = { 
    labels: ["Income"],  
    datasets: [{data: [response.pieChart[0].income],backgroundColor: ["#FF6384"],hoverBackgroundColor: ["#FF6384"]}]};
    var myPieChart = new Chart(ctx,{
        type: 'doughnut',
        data: data   
    });

    var data = {
    labels: ["Service", "Product", "Membership", "Gift Card"],
    datasets: [
        {
            label: "Total",
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'                
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'               
            ],
            borderWidth: 1,
            data: [response.barChart[0].service, response.barChart[1].product, 0, 0],
        }
    ]
  };
  var barChart = new Chart(bar,{
      type: 'bar',
      data: data  
  });

});

</script>   